* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
// font-family: 'Shadows Into Light', cursive;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
// font-family: 'Satisfy', cursive;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// font-family: 'Pacifico', cursive;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
// font-family: 'Dancing Script', cursive;
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
// font-family: 'Passions Conflict', cursive;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
// font-family: 'Roboto Condensed', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
// font-family: 'Inter', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
// font-family: 'Play', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
// font-family: 'Red Hat Display', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
// font-family: 'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
// font-family: 'Rubik Wet Paint', cursive;
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
// font-family: 'Concert One', cursive;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");
// font-family: 'Noto Sans Display', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
// font-family: 'Roboto Flex', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
// font-family: 'Rubik Iso', cursive;
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
// font-family: 'Architects Daughter', cursive;
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
// font-family: 'Itim', cursive;
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
// font-family: 'Caveat Brush', cursive;
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
// font-family: 'Pangolin', cursive;
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
// font-family: 'Cabin Sketch', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
// font-family: 'Rubik Moonrocks', cursive;
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
// font-family: 'Delius', cursive;
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
// font-family: 'Silkscreen', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
// font-family: 'Rubik Spray Paint', cursive;
@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap");
// font-family: 'Averia Sans Libre', cursive;

:root {
  --font-color-main: rgb(246, 146, 255);
  --font-color-active: rgb(242, 255, 98);
  --font-color-main-shadow: rgb(235, 16, 255);
  --font-color-active-shadow: rgb(253, 255, 116);
  --font-color-main-border: rgb(153, 0, 167);
  --font-color-active-border: rgb(135, 128, 0);
  --keyboard-button-color: rgb(179, 255, 242);
  --keyboard-button-background: rgba(179, 255, 242, 0.2);
  --keyboard-button-background-hover: rgba(179, 255, 242, 0.4);
  --keyboard-button-color-active: rgb(148, 5, 50);
  --textarea-border-color: rgb(179, 255, 242);
  --textarea-border-shadow: rgb(16, 255, 215);
  --scroll-color: linear-gradient(rgb(235, 16, 255), rgb(153, 0, 167));
}

html {
  scroll-behavior: smooth;
  font-family: "Silkscreen", cursive;
  font-weight: 400;
  font-size: 28px;
  color: var(--font-color-main);
  height: 100%;
}

.keyboard_body::-webkit-scrollbar {
  width: 15px;
}

.keyboard_body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.keyboard_body::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  outline: 1px solid transparent;
  border-radius: 20px;
}

.keyboard {
  &_body {
    width: 100%;
    background: url("../refs/pics/bricks_wall_004.jpg") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &_wrapper {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &_plate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-rows: 5;
    // grid-template-columns: repeat(14, 1fr);
    margin-top: 80px;
    border: 10px solid var(--textarea-border-color);
    box-shadow: 0 0 30px var(--textarea-border-shadow),
      inset 0 0 30px var(--textarea-border-shadow);
    border-radius: 20px;
    padding: 1vw;
    row-gap: 0.5vw;
    column-gap: 0.5vw;
    justify-content: center;
    align-items: center;
  }

  &_row {
    display: flex;
    flex-direction: row;
  }

  &_cherry_textarea_wrapper {
    display: flex;
    flex-direction: row;
  }

  &_cherry_neon {
    width: 25vw;
    height: 25vw;
    // background-image: url("../refs/icons/cherry_001.svg");
    background-size: contain;
    // background-repeat: no-repeat;
    // resize: both;
    margin-top: 100px;
    margin-right: 5vw;
    // mix-blend-mode: soft-light;
    text-decoration: none;
  }

  &_cherry_branch_leaf {
    width: 25vw;
    height: 55%;
    display: inline-block;
    background-image: url("../refs/icons/cherry_branch_leaf_neon_light_01.svg");
    background-repeat: no-repeat;
    resize: both;
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
      drop-shadow(0px 0px 15px rgb(0, 255, 76));
    animation-name: cherry_branch_leaf_anim;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes cherry_branch_leaf_anim {
    0% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgb(0, 255, 76));
    }
    15% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.4));
    }
    25% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 0.8));
    }
    35% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.4));
    }
    45% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 1));
    }
    55% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.2));
    }
    60% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 1));
    }
    60% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.2));
    }
    65% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 0.8));
    }
    75% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.4));
    }
    85% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 0.8));
    }
    95% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 10px rgba(0, 255, 76, 0.4));
    }
    100% {
      filter: drop-shadow(0px 0px 10px rgb(0, 255, 76))
        drop-shadow(0px 0px 15px rgba(0, 255, 76, 1));
    }
  }

  &_cherry_berries {
    width: 25vw;
    height: 45%;
    display: inline-block;
    background-image: url("../refs/icons/cherry_berries_neon_light_01.svg");
    background-repeat: no-repeat;
    resize: both;
    transform: translate(0px, -12px);
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
      drop-shadow(0px 0px 15px rgb(255, 0, 93));
    animation-name: cherry_berries_anim;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes cherry_berries_anim {
    0% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgb(255, 0, 93));
    }
    15% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.4));
    }
    25% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 0.8));
    }
    35% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.4));
    }
    45% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 1));
    }
    55% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.2));
    }
    60% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 1));
    }
    60% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.2));
    }
    65% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 0.8));
    }
    75% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.4));
    }
    85% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 0.8));
    }
    95% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 10px rgba(255, 0, 93, 0.4));
    }
    100% {
      filter: drop-shadow(0px 0px 10px rgb(255, 0, 93))
        drop-shadow(0px 0px 15px rgba(255, 0, 93, 1));
    }
  }

  &_textarea {
    margin-top: 100px;
    width: 50vw;
    background-color: transparent;
    border: 10px solid var(--textarea-border-color);
    box-shadow: 0 0 30px var(--textarea-border-shadow),
      inset 0 0 30px var(--textarea-border-shadow);
    border-radius: 20px;
    outline: none;
    font-size: 28px;
    color: var(--font-color-main);
    text-shadow: 0 0 10px var(--font-color-main-shadow);
    -webkit-text-stroke: 0.5px var(--font-color-main-border);
    padding: 1vw;

    &::placeholder {
      animation-name: text_anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
      text-shadow: 0 0 10px transparent;
      -webkit-text-stroke: 0.5px transparent;
    }
  }

  @keyframes text_anim {
    0% {
      color: rgb(246, 146, 255);
    }
    50% {
      color: rgba(246, 146, 255, 0.2);
    }
    100% {
      color: rgb(246, 146, 255);
    }
  }

  &_button {
    padding-left: 2vw;
    padding-right: 2vw;
    height: 5vw;
    border: 2px solid var(--textarea-border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px var(--font-color-main-shadow);
    -webkit-text-stroke: 0.5px var(--font-color-main-border);
    background-color: var(--keyboard-button-background);
    user-select: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: var(--keyboard-button-background-hover);
    }

    &:active {
      color: var(--font-color-active);
      text-shadow: 0 0 10px var(--font-color-active-shadow);
      -webkit-text-stroke: 0.5px var(--font-color-active-border);
    }
  }

  &_os {
    text-align: center;
    margin-top: 20px;
    font-family: "Rubik Wet Paint", cursive;
    font-size: 30px;
    user-select: none;
    mix-blend-mode: overlay;
  }

  &_lang {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Rubik Wet Paint", cursive;
    font-size: 30px;
    user-select: none;
    mix-blend-mode: overlay;
  }
}
